
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("TemelKimlikVeIletisimBilgi","Musteri")">İletişim Bilgileri</a> /
<a href="@Url.Action("Talep", "Musteri")">Talepler</a> /
<a href="@Url.Action("Teklif", "Musteri")">Teklifler</a> /
<a href="@Url.Action("Satis", "Musteri")">Satışlar</a> /
<a href="@Url.Action("Is", "Musteri")">İşler</a> /
<a href="@Url.Action("Fatura", "Musteri")">Faturalar</a> /
<a href="@Url.Action("Odeme", "Musteri")">Odemeler</a> /
<a href="@Url.Action("Evrak", "Musteri")">Evraklar</a> /
<a href="@Url.Action("Destek", "Musteri")">Destek</a> /
<a href="@Url.Action("Not", "Musteri")">Not</a> /


