
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("GenelTasarim","TasarimAyarlari")">Genel Tasarım</a>  /
<a href="@Url.Action("FaturaAltBilgi","TasarimAyarlari")">Fatura Alt Bilgi</a>/
<a href="@Url.Action("SiparisAltBilgi","TasarimAyarlari")">Sipariş Alt Bilgi</a>  /
<a href="@Url.Action("SiparisUstBilgi","TasarimAyarlari")">Sipariş Üst Bilgi</a>/
<a href="@Url.Action("EPostaTasarimi","TasarimAyarlari")">E Posta Tasarımı</a>  /
<a href="@Url.Action("FaturaYazdırma","TasarimAyarlari")">Fatura Yazdırma</a>



