
@{
    ViewBag.Title = "Bilgiler_iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
    il il = new il();
    ilce ilce = new ilce();
    ilBLL ilbll = new ilBLL();
    ilceBLL ilcebll = new ilceBLL();
    List<il> ilListe = ilbll.GetAll().ToList();
    List<ilce> ilceListe = ilcebll.GetAll().ToList();

}
@model Firma


<script src="~/Scripts/InotrScript/Firma.js"></script>



<div class="content-wrapper">
    <div class="page-header panel" style="padding-bottom: 0;">
        <div class="page-header-content">
            <div class="page-title">
                <h5>
                    <a href="#" class="btn bg-grey btn-icon btn-rounded btn-xs mr-10"><i class="" icon-arrow-left13"></i></a><span class="text-semibold">Firma Bilgileri</span>
                </h5>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="baslik">Firma:</label>
                        <input type="text" class="form-control" id="Adi" value="@Model.Adi">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="Email" value="@Model.Email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="telefon">Telefon:</label>
                        <input type="text" class="form-control" id="Telefon" value="@Model.Telefon">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fax">Fax:</label>
                        <input type="text" class="form-control" id="Fax" value="@Model.Fax">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="telefon">Yetkili:</label>
                        <input type="text" class="form-control" id="Yetkili" value="@Model.Yetkili">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fax">GSM:</label>
                        <input type="text" class="form-control" id="Gsm" value="@Model.Gsm">
                    </div>
                </div>
            </div>
            

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="fax">Adres:</label>
                        <input type="text" class="form-control" id="Adres" value="@Model.Adres">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="il">İl:</label>
                        <select id="illerID" class="form-control">
                            @foreach (il item in ilListe)
                            {
                                <option value="@item.ID" @(Model.ilID == item.ID ? "selected" : "")>@item.Adi</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="fax">İlçe:</label>
                        <select id="ilceListesiID" class="form-control">
                            @foreach (ilce item in Model.il.ilce)
                            {
                                <option value="@Model.IlceID" @(Model.IlceID == item.ID ? "selected" : "")>@item.IlceAdi</option>
                            }

                        </select>

                    </div>
                </div>



            
            <div class="row">

                <div class="col-md-12">
                    <a class="btn btn-success pull-right" href="javascript:;" onclick="FirmaBilgisiDuzenle('@Model.ID')">Düzenle <i class="icon-checkmark4 position-right"></i></a>
                </div>


            </div>

        </div>

    </div>
</div>